@import './../jspm_packages/npm/pragma-menu@1.0.17/pragma-menu.scss';
@import './../jspm_packages/npm/pragma-views@0.0.83/scss/style';
@import './lib/pragma-screen-designer';

assistant select {
  background: $primary-background;
}

.template-select {
  width: 20rem;
  height: 100%;
}